# Finder's settings file (Mac).
.DS_Store

# Node.js modules.
node_modules/

# Ignore NPM's lockfile.
# Since we're using Yarn, and it has it's own lockfile, there is no need for such.
package-lock.json

# Log files.
*.log
*.log.*

# Expo files.
.expo/

# Generated type definitions & JavaScript sources.
library/build/
library/types/
